<div class='site_container'>
  <div class='form'>
    <%= form_for [@site, @window], url: site_windows_path(@site, @window), html: { multipart: true } do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.label :year_created %>
    <%= f.text_field :year_created %><br>

    <%= f.label :dedication %>
    <%= f.text_field :dedication %><br>

    <%= f.label :window_info %>
    <%= f.text_field :window_info %><br>

    <%= f.label :image %>
    <%= f.file_field :image %>

    <%= f.hidden_field :site_id, :value => @site.id %>
    <%= f.submit "Submit this window", class:"submit" %>
  <% end %>
  </div>
</div>
