<div class='site_container'>
  <div class="row">
    <div class="col-md-8">
    <%= image_tag @window.image.url(:large) %><br>
    </div>
  <div class='col-md-4'>
    <h1><%= "#{@window.name}" %></h1><br>
    <h3><%= "#{@window.year_created}" %></h3><br>
    <h3><%= "#{@window.dedication}" %></h3><br>
    <h3><%= "#{@window.window_info}" %></h3><br>
  </div>
</div>


  <% if current_user.sites.include?(@site) %>
  <%= link_to "Return to the Site", site_path(@site) %><br>
  <%= link_to "Edit this window", edit_site_window_path(@site, @window) %><br>
  <%= link_to "Delete this window", site_window_path(@window), :confirm => "Are you sure?", :method => :delete %><br>
  <% end %>
</div>
