<h1>Filter by:</h1>
<div class="all_sites">
  <h3><%= link_to('Sites', '/sites') %></h3>
</div>
<h3><%= link_to('Windows', '/windows') %></h3>
<h1>Or Browse:</h1>
<!--<h2>Site Entries:</h2>
<div class="row">
  <% @sites.each do |site| %>
    <div class="col-md-3">
    <%= image_tag site.image.url(:medium) %><br>
    <h4><%= link_to site.name, site_path(site) %></h4>
    </div>
<% end %>
</div>-->

<h2>Window Entries:</h2>
<div class="row">
  <% @windows.each do |window| %>
  <div class="col-md-3">
  <%= image_tag window.image.url(:medium) %><br>
  <h4><%= link_to window.name, site_window_path(window.site_id, window) %></h4>
  </div>
  <% end %>
</div>
