<div class='site_container'>
</div>
<div class='info'>
  <div class="row">
  <div class="col-md-8">
    <%= image_tag @site.image.url(:large) %>
  </div>

  <div class="col-md-4">
  <h1><%= "#{@site.name}" %></h1>
  <h2><%= "#{@site.street_address}" %></h2>
  <h2><%= "#{@site.city}" %></h2>
  <h2><%= "#{@site.zip_code}" %></h2>
  <h2><%= "#{@site.contact_info}" %></h2>
  <h2><%= "#{@site.accessibility}" %></h2>
  <p><%= "#{@site.site_info}" %></p>
  </div>
  </div>

<h1>Windows</h1>

  <div class="row">
    <% @site.windows.each do |window| %>
    <div class="col-md-3">
    <%= image_tag window.image.url(:medium) %>
    <h3><%= link_to window.name, site_window_path(@site, window) %></h3>
    </div>
    <% end %>
  </div>

  <div class="row">
    <% @site.user_comments.each do |comment| %>
    <div class="col-md-3">
    <h3><%= "#{comment.comment_text}" %></h3>
    <p><%= link_to "Delete this comment", site_user_comment_path(@site, comment), :confirm => "Are you sure?", :method => :delete %></p>
    </div>
    <% end %>
  </div>


<div class="link-container">
  <% if current_user.sites.include?(@site) %>
    <h4><%= link_to "Edit this site", edit_site_path(@site) %></h4>
    <h4><%= link_to "Delete this site", site_path(@site), :confirm => "Are you sure?", :method => :delete %></h4>
    <h4><%= link_to "Add a window to this site", new_site_window_path(@site, @window) %></h4>
    <h4><%= link_to "Add a comment to this site", new_site_user_comment_path(@site, @user_comment) %></h4>
  <% end %>
</div>
</div>
